[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/boost-cmake"]
	path = external/boost-cmake
	url = https://github.com/jackgerrits/boost-cmake.git

[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/jackgerrits/zlib.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/jackgerrits/boost.git